body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: #074141;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

canvas#main-graph {
	box-sizing: border-box;
	width: calc(100vw - 2rem);
	height: 70vh;
	outline: 1px solid black;
	background-color: #fff;
}

#scope {
	box-sizing: border-box;
	width: calc(100vw - 2rem);
	height: calc(20vh - 2rem);
	outline: 1px solid black;
	background-color: #aaa;
	border: none;
	overflow: scroll;
	white-space: nowrap;
	resize: none;
}

#input {
	box-sizing: border-box;
	width: calc(100vw - 2rem);
	height: 2rem;
	outline: 1px solid black;
	border: none;
	overflow: scroll;
}

#config {
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 0;
	top: 0;
	padding-top: 1.5rem;;
	width: min-content;
	min-height: 30vh;
	max-width: 50vw;
	box-sizing: border-box;
	background-color: #aaa;
	outline: 1px solid black;
	overflow: hidden;
}

#config.hidden {
	display: none;
}

#toggle-config-tab {
	position: fixed;
	top: 0;
	right: 0;
	width: 1.5rem;
	height: 1.5rem;
	background-repeat: no-repeat;
	background-size: 100%;
}

#toggle-config-tab.close-icon {
	background-color: transparent;
	border: 1px solid black;
	border-top-style: none;
	border-right-style: none;
	background-image: url("x.svg");
}

#toggle-config-tab.open-icon {
	background-image: url("config.svg");
	background-color: #ffffff;
	border: none;
	border-radius: 100%;
}